<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNcKILfRkrEoRFss-3E4Xb1CLmhMXe0TU</string>
	<key>GCM_SENDER_ID</key>
	<string>549665505037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lzzt</string>
	<key>PROJECT_ID</key>
	<string>lzzt-e9fe0</string>
	<key>STORAGE_BUCKET</key>
	<string>lzzt-e9fe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549665505037:ios:445d0d6a9009e9d6daba44</string>
</dict>
</plist>